# Ignorar arquivos de ambiente virtual
venv/
.env

# Ignorar arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Ignorar logs e arquivos temporários
*.log
*.tmp
*.bak
*.swp
*.swo

# Ignorar arquivos gerados por IDEs
.vscode/
.idea/
*.iml

# Ignorar arquivos de dependências instaladas localmente
lib/
lib64/

# Ignora as pastas selecionadas
app/arquivos/material_do_curso